@keyframes moveInOne {
  0% {
    opacity: 0;
    transform: translate(-75px, -75px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes moveInTwo {
  0% {
    opacity: 0;
    transform: translate(75px, 75px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes moveFromDown {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62,5%;
}

body {
  font-family: "Comic Neue", sans-serif;
  line-height: 1.7;
  color: #777;
  padding: 30px;
  background-color: #fff;
}

.heading-primary {
  top: 50%;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

.heading-primary--main {
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 15px;
  animation: moveInOne 1s ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 2.0rem;
  letter-spacing: 8px;
  animation: moveInTwo 1s ease-out;
}

.heading-secondary {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(to right, #003200, #00c800);
  display: inline-block;
  margin: 0 auto;
  letter-spacing: 5px;
  -webkit-background-clip: text;
  transition: all 0.3s;
}

.heading-secondary:hover {
  transform: scale(1.2) skewX(20deg);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.heading-tertiary {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 80px;
}

.u-mb-s {
  margin-bottom: 20px;
}

.u-mb-m {
  margin-bottom: 40px;
}

.u-mb-l {
  margin-bottom: 80px;
}

.u-mb-xl {
  margin-bottom: 100px;
}

.btn {
  position: relative;
  white-space: nowrap;
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 auto;
  transition: transform 0.3s;
  z-index: 1000;
  animation: moveFromDown 1s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

.btn::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.5s;
}

.btn:link, .btn:visited {
  text-decoration: none;
}

.btn:hover {
  transform: translateY(-8px);
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scale(1.4);
  opacity: 0;
}

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 3px 8px 5px rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: white;
  color: gray;
}

.btn--white::after {
  content: '';
  background-color: white;
}

.btn-text {
  color: #00c800;
  margin: 0 auto;
  display: inline-block;
  border-bottom: 1px solid #003200;
  padding: 2px;
  transition: transform 0.3s;
  font-weight: 400;
}

.btn-text:link, .btn-text:visited {
  text-decoration: none;
}

.btn-text:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
  background-color: #00c800;
  color: #fff;
  border: 0;
}

.comp {
  position: relative;
  height: 100%;
  display: block;
}

.comp__photo {
  width: 50%;
  display: inline-block;
  border-radius: 4px;
  position: absolute;
  transition: transform 0.2s;
  padding: 0;
}

.comp__photo--p1 {
  left: 0;
  top: 20px;
  z-index: 1;
}

.comp__photo--p2 {
  right: 0;
  top: 40px;
  z-index: 2;
}

.comp__photo--p3 {
  right: 0;
  top: 25%;
  z-index: 1;
}

.comp__photo:hover {
  transform: scale(1.3);
  z-index: 10;
}

.feature-box .feature-card {
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 350px;
  transition: transform 0.3s;
  border-radius: 10px;
  box-shadow: 2px 4px 3px rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 15px;
}

.feature-box .feature-card:hover {
  transform: translateY(-20px) scale(1.15);
}

.feature-box .feature-card__icon {
  display: block;
  font-size: 50px;
  margin-bottom: 20px;
  background-image: linear-gradient(to left, #003200, #00c800);
  color: transparent;
  -webkit-background-clip: text;
}

.flip-card {
  background-color: transparent;
  height: 550px;
  max-height: 590px;
  perspective: 1000px;
}

.flip-card:hover .flip-card__container {
  transform: rotateY(180deg);
}

.flip-card__container {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.flip-card__container--front, .flip-card__container--back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-card__container--front {
  color: white;
}

.flip-card__container--back {
  transform: rotateY(180deg);
}

.flip-card__container--back .heading-primary {
  margin-top: 160px;
  font-size: 50px;
  font-weight: 700;
}

.flip-card--1 .flip-card__container--back {
  background-image: linear-gradient(to right bottom, #003200, #00c800);
  color: #fff;
}

.flip-card--2 .flip-card__container--back {
  background-image: linear-gradient(to right bottom, #00e0ff, #96e6e4);
  color: #000;
}

.flip-card--3 .flip-card__container--back {
  background-image: linear-gradient(to right bottom, #fff500, #faffc4);
  color: #000;
}

.flip-card__image {
  height: 45%;
  background-blend-mode: overlay;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.flip-card__image--1 {
  background-image: linear-gradient(#003200, #00c800), url("../img/card1.jpg");
  background-size: cover;
  background-position: bottom;
}

.flip-card__image--2 {
  background-image: linear-gradient(#00e0ff, #96e6e4), url("../img/card2.jpg");
  background-size: cover;
  background-position: 0 250px;
}

.flip-card__image--3 {
  background-image: linear-gradient(#fff500, #faffc4), url("../img/card3.jpg");
  background-size: cover;
  background-position: 0 250px;
}

.flip-card__header {
  text-transform: uppercase;
  font-size: 24px;
  position: absolute;
  top: 40px;
  right: 40px;
  text-align: right;
  color: #fff;
  width: 45%;
}

.flip-card__header-span {
  padding: 6px 0;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.flip-card__header-span--1 {
  background-image: linear-gradient(to bottom, rgba(0, 50, 0, 0.8), rgba(0, 200, 0, 0.8));
}

.flip-card__header-span--2 {
  background-image: linear-gradient(to bottom, rgba(0, 224, 255, 0.8), rgba(150, 230, 228, 0.8));
}

.flip-card__header-span--3 {
  color: #000;
  background-image: linear-gradient(to bottom, rgba(255, 245, 0, 0.9), rgba(250, 255, 196, 0.9));
}

.flip-card__details {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #000;
}

.flip-card__details ul {
  list-style: none;
  width: 75%;
  margin: 0 auto;
}

.flip-card__details ul li {
  display: inline-block;
  padding: 12px 0;
}

.flip-card__details ul li:not(:last-child) {
  border-bottom: 1px solid rgba(119, 119, 119, 0.4);
}

.story {
  margin: 0 auto;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 50px 20px;
  border-radius: 25px;
  box-shadow: 0 10px 10px #777;
  transform: skewX(-15deg);
}

.story > * {
  transform: skewX(15deg);
}

.story__shape {
  height: 120px;
  width: 120px;
  float: left;
  position: relative;
  margin-right: 50px;
  -webkit-clip-path: circle(50%);
  -webkit-shape-outside: circle(50%);
}

.story__shape img {
  width: 100%;
}

.story__caption {
  color: #fff;
  position: absolute;
  top: 58%;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%, 20%);
  opacity: 0;
  transition: all .4s;
}

.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -5%);
}

.story__text {
  text-align: left;
}

.bg-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to top, rgba(0, 50, 0, 0.3), rgba(0, 200, 0, 0.35)), url("../img/bgimg.jpg");
  background-size: cover;
  background-position: center;
  color: #ccc;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 80%, 0% 100%);
  -o-clip-path: polygon(0 0%, 100% 0%, 100% 80%, 0% 100%);
  clip-path: polygon(0 0%, 100% 0%, 100% 80%, 0% 100%);
}

.header__logo-box {
  position: absolute;
  top: 20px;
  left: 20px;
}

.header__logo-img {
  position: relative;
  width: 100px;
  z-index: -1;
  display: inline-block;
  -webkit-mask-image: url("../img/logo.png"), linear-gradient(rgba(0, 50, 0, 0.1), rgba(0, 200, 0, 0.1));
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 80px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
  color: #000;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 60px;
}

.row .col-1-of-2 {
  width: calc((100% - 60px) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - (2 * 60px)) / 3);
}

.row .col-1-of-4 {
  width: calc((100% - (3 * 60px)) / 4);
}

.row .col-2-of-3 {
  width: calc(((100% - (2 * 60px)) / 3) * 2 + 60px);
}

.row .col-2-of-4 {
  width: calc(((100% - (3 * 60px)) / 4) * 2 + 60px);
}

.row .col-3-of-4 {
  width: calc(((100% - (3 * 60px)) / 4) * 3 + 2 * 60px);
}

.section-landscape {
  margin-top: -20vh;
  height: 85vh;
  background-color: #f7f7f7;
  padding: 200px 0;
}

.section-features {
  padding: 200px 0;
  margin-top: -10vh;
  margin-bottom: 50px;
  background-image: linear-gradient(to right bottom, rgba(0, 50, 0, 0.5), rgba(0, 200, 0, 0.5)), url("../img/bgimg2.jpg");
  background-size: cover;
  clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 90%);
}

.section-plans {
  background-color: #f7f7f7;
  padding: 200px 0 200px;
  margin-top: -10%;
}

.section-stories {
  padding: 0 0 100px;
  background-color: rgba(247, 247, 247, 0.65);
  position: relative;
}
