$color-black: #000;
$color-white: #fff;
$color-gray-light: #f7f7f7;
$color-gray: #777;
$color-primary: #003200;
$color-secondary: #00c800;
$color-blue: #00e0ff;
$color-blue-2: #96e6e4;
$color-yellow: #fff500;
$color-yellow-2: #faffc4;
//grid
$grid-width: 1140px;
$row-gutter: 80px;
$column-gutter: 60px;
