@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";

@import "pages/home";


$color-black: #000;
$color-white: #fff;
$color-gray: #777;
$color-primary: #003200;
$color-secondary: #00c800;
