.row{
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child){
        margin-bottom: $row-gutter;
    }

    @include clearfix;

    [class^="col-"]{
        float: left;
        color: $color-black;
        &:not(:last-child){
            margin-right: $column-gutter;
        }
    }

    .col-1-of-2{
        width: calc((100% - #{$column-gutter}) / 2);
    }
    .col-1-of-3{
        width: calc((100% - (2 * #{$column-gutter})) / 3);
    }
    .col-1-of-4{
        width: calc((100% - (3 * #{$column-gutter})) / 4);
    }
    .col-2-of-3{
        width: calc(((100% - (2 * #{$column-gutter})) / 3) * 2 + #{$column-gutter});
    }
    .col-2-of-4{
        width: calc(((100% - (3 * #{$column-gutter})) / 4) * 2 + #{$column-gutter});
    }
    .col-3-of-4{
        width: calc(((100% - (3 * #{$column-gutter})) / 4) * 3 + 2 * #{$column-gutter});
    }
}
