.nav{
    &__checkbox{
        display: none;
    }
    &__button{
        background-color: $color-white;
        height: 70px; width: 70px;
        position: fixed;
        border-radius: 50%;
        top: 70px; right: 70px;
        z-index: 1100;
    }
    &-bg{
        background-image: radial-gradient($color-secondary, $color-primary);
        height: 60px; width: 60px;
        border-radius: 50%;
        position: fixed;
        top: 75px; right: 75px;
        z-index: 1000;
    }

}
.navigation__nav{
    .nav{
        &__list{

        }
        &__item{

        }
        &__link{

        }
    }
}
