.feature-box{
    .feature-card{
        background-color: rgba($color-white, 0.5);
        min-height: 350px;
        transition: transform 0.3s;
        border-radius: 10px;
        box-shadow: 2px 4px 3px rgba($color-white, 0.3);
        text-align: center;
        padding: 15px;
        &:hover{
            transform: translateY(-20px) scale(1.15);
        }
        &__icon{
            display: block;
            font-size: 50px;
            margin-bottom: 20px;
            background-image: linear-gradient(to left, rgba($color-primary, 1), rgba($color-secondary, 1));
            color: transparent;
            -webkit-background-clip: text;
        }
        &__paragraph{
            font-size: 15px;
        }

    }
}
