.flip-card{
    background-color: transparent;
    height: 550px;
    max-height: 590px;
    perspective: 1000px;
    &:hover &__container{
        transform: rotateY(180deg);
    }

    &__container{
        height: 100%; width: 100%;
        position: relative;
        transition: transform 1s;
        transform-style: preserve-3d;
        text-align: center;
        box-shadow: 0 20px 20px rgba($color-black, 0.5);
        &--front,
        &--back{
            position: absolute;
            width: 100%; height: 100%;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
        }
        &--front{
            color: white;

        }
        &--back{
            background-color: royalblue;
            transform: rotateY(180deg);
        }
    }

    &--1 &__container--front{

    }
    &--1 &__container--back{
        background-image: linear-gradient(to right bottom, rgba($color-primary, 1), rgba($color-secondary, 1));
        color: $color-white;
    }


    &--2 &__container--front{
        background-image: linear-gradient(rgba($color-blue, 0.3), rgba($color-blue, 0.3)), url("../img/card2.jpg");
        background-size: cover;
    }
    &--2 &__container--back{
        background-image: linear-gradient(to right bottom, rgba($color-blue, 1), rgba($color-blue-2, 1));
        color: $color-black;
    }


    &--3 &__container--front{
        background-image: linear-gradient(rgba($color-yellow, 0.3), rgba($color-yellow, 0.3)), url("../img/card3.jpg");
        background-size: cover;
    }
    &--3 &__container--back{
        background-image: linear-gradient(to right bottom, rgba($color-yellow, 1), rgba($color-yellow-2, 1));
        color: $color-black;
    }
    &__image{
        // clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 55%);
        // -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 55%);
        height: 45%;
        background-blend-mode: lighten;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        &--1{
            background-image: linear-gradient($color-primary, $color-primary), url("../img/card1.jpg");
            background-size: cover;
            background-position: bottom;

        }
    }
    &__header{
        text-transform: uppercase;
        font-size: 24px;
        position: absolute;
        top: 40px;
        right: 20px;
        color: $color-black;
    }

}
