.story{
    margin: 0 auto;
    width: 75%;
    background-color: $color-white;
    padding: 50px 20px;
    border-radius: 25px;
    box-shadow: 0 10px 10px $color-gray;
    &__shape{
        height: 120px; width: 120px;
        float: left;
        margin-right: 20px;
        -webkit-clip-path: circle(50%);
        -webkit-shape-outside: circle(50%);
        img{
            width: 100%;
        }
    }
    &__text{
        text-align: left;
    }
}
