.heading-primary{
    top: 50%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 80px;
    &--main{
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 15px;
        animation:  moveInOne 1s ease-out;
    }
    &--sub{
        display: block;
        font-size: 2.0rem;
        letter-spacing: 8px;
        animation:  moveInTwo 1s ease-out;
    }
}
.heading-secondary{
    font-size: 35px;
    text-transform: uppercase;;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(to right, $color-primary, $color-secondary);
    display: inline-block;
    margin: 0 auto;
    letter-spacing: 5px;
    -webkit-background-clip: text;
    transition: all 0.3s;
    &:hover{
        transform: scale(1.2) skewX(20deg);
        text-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    }
}

.heading-tertiary{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0 2px 2px rgba($color-black, 0.1);
    &:not(:last-child)
    {
        margin-bottom: 30px;
    }
}
