.section-landscape{
    margin-top: -20vh;
    height: 85vh;
    background-color: $color-gray-light;
    padding: 200px 0;
}
.section-features{
    padding: 200px 0;
    margin-top: -10vh;
    margin-bottom: 50px;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.5), rgba($color-secondary, 0.5)), url("../img/bgimg2.jpg");
    background-size: cover;
    clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 90%);
}
.section-plans{
    background-color: $color-gray-light;
    padding: 200px 0 200px;
    margin-top: -10%;
}
